@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["Breadcrumbs"] = new Dictionary<string, string>
    {
        { "Home", ""}
    };
}

<div class="page-header" id="banner">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Welcome to AnimeFlix</h1>
            <p class="lead">Your place to watch anime by Zeffuro!</p>
        </div>
    </div>
</div>